@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&display=swap');
body {
    font-family: 'Red Hat Display', sans-serif
}

.header {
    display: flex;
    height: 80px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
backdrop-filter: blur(40px);
z-index: 50;
}

.code {
    height: 25px;
    width: 80px;
    border-radius: 15px;
    background: white;
    transform: rotate(-28deg);
    
}
.code1 {
    height: 25px;
    border-radius: 15px;
    background: white;
    box-shadow: 0 32px 80px  rgba(0,0,0,1);
    transform: rotate(23deg);
    border-left: 80px solid white;
    
}
.pyramid {
    width: 900px;
    height: 104px;
    
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */
    
    text-align: center;
    
    /* Gray 3 */
    
    color: #828282;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.wrapper {
    margin-top: 20px;
    padding-left: 100px;
    width: 100%;
    display: flex;  
    overflow-x: scroll;  

}
.wrapper .item {
    min-width: 190px;
    height: 90px;
    line-height: 110px;
    text-align: center;
    background-color: #ddd;
}
.wrapper::-webkit-scrollbar {
 
}

.obidi {
    display: grid;
    width: 100%;
    min-height: 492px;
    align-self: center;
    position: absolute;
    background: white;
    margin-top: 120px;
    grid-template-columns: repeat(15, minmax(0, 1fr)); ;
    grid-template-rows: repeat(6, minmax(0, 1fr)); ;    
}
